body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }

  .form-container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
  }

  .form-header {
    text-align: center;
    margin-bottom: 20px;
    color: #5a5a5a;
  }

  .form-control {
    border-radius: 6px;
  }

  .btn-custom {
    background-color: #3a773c;
    color: white;
    border-radius: 6px;
    transition: all 0.3s;
  }

  .btn-custom:hover {
    background-color: #141c25;
  }

  .form-footer {
    text-align: center;
    margin-top: 20px;
  }
  .invalid-feedback {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
