<div class="container my-5">

  <form (ngSubmit)="AddUser()" #sigupform="ngForm">
    <!-- Name Input -->
    <div class="mb-3">
      <label for="name" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your last name"
        required
        minlength="3"
        name="name"
        [(ngModel)]="user.name"
        #nameInput="ngModel"
        [ngClass]="{
          'is-invalid': (nameInput.touched || nameInput.dirty) && nameInput.invalid,
          'is-valid': nameInput.valid
        }"
      />

      <div class="invalid-feedback">
        @if( nameInput.errors?.['required']){
        <p>name is required</p>
        }@else if (nameInput.errors?.['minlength']) {

        <p>minlength at least 3 char</p>
        }
      </div>
    </div>

    <!-- Email Input -->
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
        required

        [(ngModel)]="user.email"
        name="email"
        #emailInput="ngModel"
        [ngClass]="{'is-valid':emailInput.valid}"
      />
    </div>

    <!-- Password Input -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        required
        [(ngModel)]="user.password"
        name="password"
      />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-custom w-100" [disabled]="sigupform.invalid">
      Submit
    </button>
  </form>
</div>
